<div class="wrapper">
  <h1 class="mt-4">Preencha o formulário com a sua recomendação</h1>
  <form>
    <div class="form-group mt-3 ">
      <label class="form-label" for="recommendation-kind">Escolha o tipo de recomendação</label>
      <select class="form-control text-secondary" id="recommendation-kind" [(ngModel)]="kind">
        <option value="">Escolha uma opção</option>
        <option *ngFor="let kind of kinds">{{ kind }}</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label class="form-label" for="recommendation-title" [(ngModel)]="title">Título da recomendação</label>
      <input type="text" class="form-control" id="recommendation-title" placeholder="Digite o título"/>
    </div>
    <div class="form-group mt-3">
      <label class="form-label" for="recommendation-description" [(ngModel)]="description">Descrição da recomendação</label>
      <textarea type="text" class="form-control" id="recommendation-description" placeholder="Digite a descrição" ></textarea>
    </div>
    <div class="form-group mt-3">
      <label class="form-label" for="recommendation-image-url" [(ngModel)]="imageUrl">Url da imagem da recomendação</label>
      <input type="text" class="form-control" id="recommendation-image-url" placeholder="Digite a url"/>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Enviar recomendação</button>
  </form>
</div>