<h1>Recomendações</h1>
<hr>

<div class="btn-group w-100 mb-4" role="group">
  <button (click)="filter('all')" class="btn btn-primary" [class.active]="currentKind == 'all'">Todos</button>
  <button (click)="filter(kind)" class="btn btn-primary" [class.active]="currentKind == kind"
    *ngFor="let kind of kinds">{{kind}}</button>
</div>

<div class="row px-3">
  <div class="col-2" *ngFor="let item of recommendations">
    <app-recommendation-item [recommendation]='item'></app-recommendation-item>
  </div>
</div>